<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Please Wait...</h1>
    <form name="f1" action="/paypal" method="POST">
        <Input type="text" id="price" name="harga">
    </form>
</body>
</html> 